.target{
    width: 600px;
    height: 470px;
    margin: auto;
    box-sizing: border-box;

}
.hei{
    height: 5px;
}
.ween{
    display: flex;
    justify-content: space-between;
}
.und{
    display: flex;
    justify-content: space-around;
}
.ex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.day{
    background: lightblue;
}
.night{
    background: midnightblue;
}
.bord{
    border-radius: 20px;
}
.wid{
    width: 100px;
    height: 100px;
}
.ght{
    height: 10px;
}
.versace{
    width: 500px;
    height: 200px;
    border: 3px deepskyblue solid;
    border-radius: 40px;
    margin-top: 10px;
}
.doll{
    width: 110px;
    height: 40px;
    align-items: center;
}
.doll1{
    width: 70px;
}
.doll2{
    width: 30px;
}
.barbie{
    width: 450px;
    height: 100px;
}
.usa{
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
}
.new{
    width: 450px;
}
.try{
    width: 65px;
}
.new1{
    width: 40px;
}
.new2{
    width: 20px;
}
.london{
    width: 600px;
    height: 230px;
}
.bus{
    width: 450px;
    height: 150px;
    margin: auto;
}
.nars{
    width: 150px;
    height: 150px;
}
.bus1{
    border-radius: 50%;
}
.time{
    width: 120px;
    height: 30px;
}
.end{
    width: 100px;
}
.time1{
    width: 45px;
}
.like{
    width: 120px;
}
.time2{
    width: 35px;
}