 .target {
     flex-wrap: wrap;
    border: groove lightgrey;
    border-radius: 10px;
    margin: auto;
}
 .doll{
     width: 800px;
     height: auto;
     display: flex;
 }
 .barbie{
     display: flex;
     justify-content: center;
     align-items: center;
     margin: 2px;
     border-radius: 10px;
 }
 .hei{
     height: 400px;
 }
.A{
    width: 800px;
    height: 100px;
    background: lightgreen;
}

.B {
    width: 600px;
    background: aquamarine;
}
.C {
    width: 200px;
    background: lightblue;
}
