.target{
    width: 600px;
    height: 1000px;
    background: cornflowerblue;
    margin: auto;
}
.barbie{
    width: 550px;
    height: 30px;
    /*background: crimson;*/
    display: flex;
    justify-content: flex-end;
}
.dol{
    width: 150px;
    height: 30px;
    /*background: darkorange;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.doll{
    width: 30px;
    height: 10px;
    background: darkblue;
    border-radius: 10px;
}
.usa{
    width: 600px;
    height: 60px;
    background: lightblue;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.london{
    width: 200px;
    height: 50px;
}
.street{
    width: 100px;
    height: 40px;
    background: darkblue;
    border-radius: 10px;
}
.lol{
    width: 250px;
    height: 30px;
    /*background: darkviolet;*/
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.lo1{
    width: 50px;
    height: 10px;
    background: darkblue;
    border-radius: 10px;
}
.bakerstreet{
    width: 600px;
    height: 200px;
    background: deeppink;
    display: flex;

}
.chea{
    width: 200px;
    height: 100px;
    background: chartreuse;
    display: flex;
    margin: auto;
    flex-direction: column;
}
.qwerty{
    width: 200px;
    height: 20px;
    /*background: aqua;*/
    display: flex;
    justify-content: space-between;
}
.simple{
    width: 60px;
    height: 10px;
    background: darkblue;
    border-radius: 10px;
}
.qwertyu{
    width: 200px;
    height: 20px;
    background: darkgreen;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.day{
    width: 60px;
    height: 10px;
    background: darkblue;
    border-radius: 10px;
}
.qwertyui{
    width: 200px;
    height: 30px;
    background: darkmagenta;
    display: flex;
    justify-content: center;
}
.tor{
    width: 100px;
    height: 30px;
    background: darkblue;
    border-radius: 30px;
}
